* {
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.container {
    background:#48d1cc;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    max-width: 100%;
    padding-right: 70px;
    padding-left: 70px;
}


.menu {
    list-style: none;
  
}

.menu li {
    display: inline-block;
}
.menu a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color:  #ffffff;
    transition: .3s linear;
}
.slider-wrapper {
        background:#48d1cc;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 65px;
    
}
.slider-text {
    display: flex;
    flex-wrap: wrap;
    
}
.slider-text h1 {
    font-size: 44px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
}

.slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}
.btn {
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  width: 140px;
  height: 42px;
  box-sizing: border-box;
  text-align: center;
  color: #24bdc9!important;
  text-decoration: none;
  background-color: #fff!important; 
  border-radius: 35px;
  border: 1px solid #fff!important;
  position: relative;
  outline: none;  
  padding-top: 5px;
  margin-bottom: 50px;
}

.left_block {
   width: 595px;
   padding-left: 60px;
   margin-left: 60px;
   
}

.right_block {
    
    
}

