.container{
  
}

.services{
  text-align: center;
  font-size: 12px;
  color: #5EC4CD;
}

.choose{
  text-align: center;
  font-size: 40px;
  color: #443939;
  margin-top: 30px;
}
.icon{
  width: 200px;
text-align: center;
}

.radius{
  background-color: #92ED6B;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.procent{
font-size: 17px;
color: #443939;
}

.text{
  font-size: 18px;
color: #443939;
opacity: 0.5;

}